<div class="device">
  <h3>
    Device
  </h3>
  <span class="comment">{{ client.id }}</span>
  <span>name: {{ device.name }}</span>
  <span>os: {{ device.os }}</span>
  <span>os version: {{ device.os_version }}</span>
  <span>uptime: {{ device.uptime }}</span>
  <button hx-get="/screen-off/{{ client.id }}" hx-target="#status-{{ client.id }}">screen off</button>
  <button hx-get="/screen-on/{{ client.id }}" hx-target="#status-{{ client.id }}">screen on</button>
  <div id="status-{{ client.id }}"></div>
</div>